*{
    margin: 0;
    box-sizing: border-box;
}

#navbar ul{
    background-color: #8183da;
    color: white;
    height: 40px;
    display: flex;
    font-weight: bold;
}

#navbar li{
    list-style: none;
    margin: 10px;

}

#navbar li a{
    text-decoration: none;
    color: black;
}
.table-con{
    max-width: 80% ;
    margin: auto ;
    padding: auto ;
}
.form-content{
    width: 35%;
    margin: 10vw auto;
}
.emailInput{
    width: 88%;
    margin: 0 38px 0 0;
}
.emailBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.usernameInput{
    margin: 10px;

}
.ratingInput{
    margin: 10px;
}
.submitBtn{
    margin: 7px 162px;
    padding: 7px;
}
.box{
    background-color: azure;
    padding: 10px;
}
.form-box{
    visibility: hidden;
}
.btn-yes ,
.btn-no{
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 10px;
    font-family: fangsong; */
    font-size: large;
    font-weight: bolder;
}
.question{
    margin: 100px auto;
}
.denyPrompt{
    margin: 150px auto;
    text-align: center;
    color: red;
    visibility: hidden;
}
#footer{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    text-align: center;
    padding: 6px;

}

